
<%= link_to 'New Building', new_building_path, :class=>"btn btn-primary pull-right" %>
<h1><i class="fa fa-building"></i> Buildings</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
    <tr>
      <td><%= building.name %></td>
      <td><%= link_to 'Show', building %></td>
      <td><%= link_to 'Edit', edit_building_path(building) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
